{% extends 'base.html.twig' %}

{% block title %}Cinélog - Tableau de Bord{% endblock %}

{% block body %}
<div class="container mt-8 w-4/6 mx-auto p-8 flex flex-col gap-4 items-center text-gray-100">
    {{ include('dashboard/users_table.html.twig') }}
    {{ include('dashboard/comments_table.html.twig') }}
</div>
{% endblock %}
